<div id="fullScreenOverlayPopUp" class="fullScreenOverlayPopUp" {{#if displayFullScreenOverlayPopUp}} style="" {{else}} style="display:none;" {{/if}}>
  <div id="fullScreenOverlayPopUp_messageBox" class="fullScreenOverlayPopUp_messageBox">
    <div id="fullScreenOverlayPopUp_content" class="fullScreenOverlayPopUp_content_container">

      <div id="fullScreenOverlayPopUp_content_icon" class="fullScreenOverlayPopUp_content_icon">
        <i class="fa fa-exclamation-triangle fa-2x" style="color:red;" aria-hidden="true"></i>
      </div>

      <div class="fullScreenOverlayPopUp_content_content">
        <div id="fullScreenOverlayPopUp_title" class="fullScreenOverlayPopUp_title">
          <span>{{fullScreenOverlayPopUp_title}}</span>
        </div>
        <div id="fullScreenOverlayPopUp_message" class="fullScreenOverlayPopUp_message">
          <div id="fullScreenOverlayPopUp_message_title" class="fullScreenOverlayPopUp_message_title">{{fullScreenOverlayPopUp_message_title}}</div>
          <div id="fullScreenOverlayPopUp_message_body" class="fullScreenOverlayPopUp_message_body">
            {{#messageBody}}
              <p class="fullScreenOverlayPopUp_message_body_p">{{pContent}}</p>
            {{/messageBody}}
          </div>
        </div>
        <div id="fullScreenOverlayPopUp_controls" class="fullScreenOverlayPopUp_controls">
          {{#if copy}}
            <!-- <button id="fullScreenOverlayPopUp_copyButton" class="btn bluButton" data-clipboard-target="#fullScreenOverlayPopUp_message_title" type="button" name="button">{{t "translation:copy"}}</button> -->
          {{/if}}
          <button id="fullScreenOverlayPopUp_dismissButton" class="btn bluButton" type="button" name="button">Chiudi</button>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        browsesearch_t3.main.overlayPopUp.initModule();
    });
</script>
