<div id="searchbar">

  <form id="searchbar-simple">
    <input id="free-text" type="search">
    <button onclick="browsesearch_t3.main.home.startSearch()" class="rai_button btn rai_semitransparent">Cerca <i
        class="fas fa-search"></i></button>
  </form>

  <div id="searchbar-advanced">
    <div class="tabs">
      <a href="#" data-id="fields-pf" class="active">Prodotti finiti</a>
      <a href="#" data-id="fields-cf">Contributi finiti</a>
      <a href="#" data-id="fields-og">Oggetti grafici</a>
      <a href="#" data-id="fields-ep">Eventi di palinsesto</a>
    </div>

    <div class="fields-wrapper">

      <!-- 1: Prodotti finiti -->
      <form id="fields-pf" class="active">
        <div class="fields-col">
          <h3>Identificativi</h3>
          <div class="field-wrapper">
            <div class="rai_small">Friendly Code</div>
            <input type="text" id="pf-friendly-code">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Playout ID</div>
            <input type="text" id="pf-playout-id">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Barcode</div>
            <input type="text" id="pf-barcode">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">ID Teca</div>
            <input type="text" id="pf-id-teca">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">UORG</div>
            <input type="text" id="pf-uorg">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Matricola</div>
            <input type="text" id="pf-matricola">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Identificativo editoriale ASPID</div>
            <input type="text" id="pf-id-editoriale-aspid">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Identificativo prodotto ASPID</div>
            <input type="text" id="pf-id-prodotto-aspid">
          </div>
        </div>

        <div class="fields-col">
          <h3>Dati editoriali</h3>
          <div class="field-wrapper">
            <div class="rai_small">Titolo Programma</div>
            <input type="text" id="pf-titolo-programma">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Titolo episodio</div>
            <input type="text" id="pf-titolo-episodio">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Numero episodio</div>
            <input type="text" id="pf-numero-episodio">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Numero episodio Rai</div>
            <input type="text" id="pf-numero-episodio-rai">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Titolo versione editoriale</div>
            <input type="text" id="pf-titolo-versione-editoriale">
          </div>
        </div>

        <div class="fields-col">
          <h3>Dati tecnici</h3>
          <div class="field-wrapper">
            <div class="rai_small">Formato</div>
            <div class="rai_select">
              <select id="pf-formato">
                <option value="">-- Seleziona formato --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Genere</div>
            <div class="rai_select">
              <select id="pf-genere">
                <option value="">-- Seleziona genere --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Aspect ratio</div>
            <div class="rai_select">
              <select id="pf-aspect-ratio">
                <option value="">-- Seleziona aspect ratio --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Standard</div>
            <div class="rai_select">
              <select id="pf-standard">
                <option value="">-- Seleziona standard --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
          <div class="field-wrapper">
            <label class="checkbuttonrai control--checkbox rai_semitransparent">
              Sottotitoli
              <input id="pf-sottotitoli" type="checkbox">
              <span class="control__indicator"></span>
            </label>
          </div>
          <div class="field-wrapper">
            <label class="checkbuttonrai control--checkbox rai_semitransparent">
              Televideo
              <input id="pf-televideo" type="checkbox">
              <span class="control__indicator"></span>
            </label>
          </div>
          <div class="field-wrapper">
            <label class="checkbuttonrai control--checkbox rai_semitransparent">
              Audio descrizione
              <input id="pf-audio-descrizione" type="checkbox">
              <span class="control__indicator"></span>
            </label>
          </div>
          <div class="field-wrapper">
            <label class="checkbuttonrai control--checkbox rai_semitransparent">
              Linguaggio dei gesti
              <input id="pf-linguaggio-gesti" type="checkbox">
              <span class="control__indicator"></span>
            </label>
          </div>
          <div class="field-wrapper field-wrapper-reset">
            <button class="rai_button btn rai_semitransparent" type="reset">Azzera criteri</button>
          </div>
        </div>
      </form>

      <!-- 2: Contributi finiti -->
      <form id="fields-cf">
        <div class="fields-col">
          <h3>Identificativi</h3>
          <div class="field-wrapper">
            <div class="rai_small">Friendly Code</div>
            <input type="text" id="cf-friendly-code">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Playout ID</div>
            <input type="text" id="cf-playout-id">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Barcode</div>
            <input type="text" id="cf-barcode">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">ID Teca</div>
            <input type="text" id="cf-id-teca">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">UORG</div>
            <input type="text" id="cf-uorg">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Matricola</div>
            <input type="text" id="cf-matricola">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Identificativo editoriale ASPID</div>
            <input type="text" id="pf-id-editoriale-aspid">
          </div>
        </div>

        <div class="fields-col">
          <h3>Dati editoriali</h3>
          <div class="field-wrapper">
            <div class="rai_small">Titolo contributo</div>
            <input type="text" id="cf-titolo-contributo">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Titolo versione editoriale</div>
            <input type="text" id="cf-titolo-versione-editoriale">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Categoria</div>
            <div class="rai_select">
              <select id="cf-categoria">
                <option value="">-- Seleziona categoria --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Redazione</div>
            <div class="rai_select">
              <select id="cf-redazione">
                <option value="">-- Seleziona redazione --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="fields-col">
          <h3>Dati tecnici</h3>
          <div class="field-wrapper">
            <div class="rai_small">Formato</div>
            <div class="rai_select">
              <select id="cf-formato">
                <option value="">-- Seleziona formato --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Aspect ratio</div>
            <div class="rai_select">
              <select id="cf-aspect-ratio">
                <option value="">-- Seleziona aspect ratio --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Standard</div>
            <div class="rai_select">
              <select id="cf-standard">
                <option value="">-- Seleziona standard --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
          <div class="field-wrapper">
            <label class="checkbuttonrai control--checkbox rai_semitransparent">
              Sottotitoli
              <input id="cf-sottotitoli" type="checkbox">
              <span class="control__indicator"></span>
            </label>
          </div>
          <div class="field-wrapper">
            <label class="checkbuttonrai control--checkbox rai_semitransparent">
              Televideo
              <input id="cf-televideo" type="checkbox">
              <span class="control__indicator"></span>
            </label>
          </div>
          <div class="field-wrapper">
            <label class="checkbuttonrai control--checkbox rai_semitransparent">
              Audio descrizione
              <input id="cf-audio-descrizione" type="checkbox">
              <span class="control__indicator"></span>
            </label>
          </div>
          <div class="field-wrapper">
            <label class="checkbuttonrai control--checkbox rai_semitransparent">
              Linguaggio dei gesti
              <input id="cf-linguaggio-gesti" type="checkbox">
              <span class="control__indicator"></span>
            </label>
          </div>
          <div class="field-wrapper field-wrapper-reset">
            <button class="rai_button btn rai_semitransparent" type="reset">Azzera criteri</button>
          </div>
        </div>
      </form>

      <!-- 3: Oggetti grafici -->
      <form id="fields-og">
        <div class="fields-col">
          <div class="field-wrapper">
            <div class="rai_small">Canale</div>
            <div class="rai_select">
              <select id="og-canale">
                <option value="">-- Seleziona canale --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="fields-col">
          <div class="field-wrapper">
            <div class="rai_small">Tipologia</div>
            <div class="rai_select">
              <select id="og-tipologia">
                <option value="">-- Seleziona tipologia --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="fields-col">
          <div class="field-wrapper field-wrapper-reset">
            <button class="rai_button btn rai_semitransparent" type="reset">Azzera criteri</button>
          </div>
        </div>
      </form>

      <!-- 4: Eventi di palinsesto -->
      <form id="fields-ep">
        <div class="fields-col">
          <div class="field-wrapper">
            <div class="rai_small">Playout ID</div>
            <input type="text" id="ep-playout-id">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Barcode</div>
            <input type="text" id="ep-barcode">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Canale</div>
            <div class="rai_select">
              <select id="ep-canale">
                <option value="">-- Seleziona canale --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="fields-col">
          <div class="field-wrapper">
            <div class="rai_small">Data di messa in onda</div>
            <input type="date" id="ep-data">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Tipologia</div>
            <div class="rai_select">
              <select id="ep-tipologia">
                <option value="">-- Seleziona tipologia --</option>
              </select>
              <div class="select__arrow">
                <span class="fas fa-chevron-down"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="fields-col">
          <div class="field-wrapper">
            <div class="rai_small">Identificativo editoriale ASPID</div>
            <input type="text" id="ep-id-editoriale-aspid">
          </div>
          <div class="field-wrapper">
            <div class="rai_small">Identificativo prodotto ASPID</div>
            <input type="text" id="ep-id-prodotto-aspid">
          </div>
          <div class="field-wrapper field-wrapper-reset">
            <button class="rai_button btn rai_semitransparent" type="reset">Azzera criteri</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>