<!DOCTYPE html>
<html
  {{#if backgroundColor}} style="background-color: {{backgroundColor}}" {{else}} style="background-color:#606064" {{/if}}>
  {{> layout/head}}
  <title>{{headerTitle}}</title>
</html>
<body>
  <div class="container-fluid">
    <div class="MainContentLayout">
      <div class="row">
        <div class="col-md-2">
          <div id="HeaderLogo" class="HeaderLogo">
            <a href="{{container_link}}"><img src="/img/rai-t3-logo.png" alt="T3 Logo"></a>
          </div>
        </div>
      </div>
    </div>
    {{{body}}}
  </div>

  <script type="text/javascript" src="/popper.js/dist/umd/popper-utils.min.js"></script>
  <script type="text/javascript" src="/popper.js/dist/umd/popper.min.js"></script>
  <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
  
  {{> layout/bundle}}
</body>
