<!DOCTYPE html>
<html
  {{#if backgroundColor}} style="background-color: {{backgroundColor}}" {{else}} style="background-color:#0a4b38" {{/if}}>
  {{> layout/head}}
  <title>{{headerTitle}}</title>
</html>
<body>
  <div class="container-fluid">
    {{> layout/header}}
    {{> fullScreenOverlayPopUp}}

    <div class="MainContentLayout">
      <div class="row">
        <div class="col">
          <div id="HeaderLogo" class="HeaderLogo">
            <a href="{{container_link}}"><img src="/img/rai-t3-logo.png" alt="T3 Logo"></a>
          </div>
          <div id="BreadCrumble" class="BreadCrumble">
            <p>\ {{headerTitle}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="MainContentBody">
            {{{body}}}
          </div>
        </div>
      </div>
    </div>

    {{> layout/footer}}
  </div>

  {{#if flashes}}
    {{> common/flashes}}
  {{/if}}

  {{> layout/bundle}}
</body>
