// SEARCH BAR

// SASS vars
$bg-searchbar-simple: #08863f;
$bg-searchbar-advanced: #2b6e76;

#searchbar {
  max-width: 1400px;
  margin: auto;
}

#searchbar-simple {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 15px;
  padding: 15px;
  background: $bg-searchbar-simple;
}

#searchbar-advanced {
  color: #fff;
  background: $bg-searchbar-advanced;

  .tabs {
    display: flex;
    background: $bg-searchbar-simple;

    a {
      color: #fff;
      background: rgba(#fff, 0.2);
      flex: 1;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      text-decoration: none;
      transition: all 0.3s;

      &.active,
      &:hover {
        background: $bg-searchbar-advanced;
      }
    }
  }

  .fields-wrapper {

    transition: all 0.3s;

    > form {
      display: none; //init

      &.active {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        padding: 15px;
      }

      .fields-col {
        display: flex;
        flex-direction: column;

        h3 {
          margin: 0;
        }

        .field-wrapper {
          &.field-wrapper-reset {
            flex: 1;
            display: flex;    
            align-items: flex-end;
          }
        }
      }

      input[type=text],
      input[type=date],
      select,
      button {
        width: 100%;
      }

      label {
        display: flex;
        align-items: center;
        margin: 15px 0 0;
      }


      button {
        margin-top: 15px;
      }
    }
  }
}