<div class="full-screen-message-outer-div">
  <div class="full-screen-message-inner-div">
    <div class="full-screen-message-content-div">
      <h1>{{title}}</h1>
      <p style="color: grey;position: relative; margin-top: 20px; font-size: 20px;">{{subtitle}}</p>
    </div>
    <div class="full-screen-message-controls-div">
      <a class="btn" style="border-radius: 0 !important; color: white; background-color: #3c9dda; border-color: #3c9dda;" href="/" role="button">Torna alla home page</a>
    </div>
  </div>
</div>
