<div id="footer" class="footer">
  <div id="FooterNavigationBar" class="FooterNavigationBar HiddenFooterNavigationBar">



    <div id="FooterNavigationBarButton" class="FooterNavigationBarButton FooterNavigationBarButtonUp">
      <input id="FooterNavigationBarButtonInput" type="submit" value="" />
    </div>

    <div id="FooterNavigationBarContent" class="FooterNavigationBarContent">
        {{!-- <div class="navigationbar-container">
            <div class="navigationbar">
            <div class=" navBarIcon navbaricondynamic">
                <a href="#">
                    <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                    </div>
                    <div class="navBarIconText">Logout</div>
                </a>
            </div><div class="navbaricondynamic navBarIcon">
                <a href="#">
                    <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                    </div>
                    <div class="navBarIconText">Logout</div>
                </a>
            </div><div class="navbaricondynamic navBarIcon">
                <a href="#">
                    <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                    </div>
                    <div class="navBarIconText">Logout</div>
                </a>
            </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div><div class="navbaricondynamic navBarIcon">
            <a href="#">
                <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
                </div>
                <div class="navBarIconText">Logout</div>
            </a>
        </div>
        </div> --}}
        </div>
        {{!-- <div class="notifyIcon">
            <div class=" navBarIcon">
                <a href="#">
                    <div>
                <span class="fa-stack fa-lg">
                  <i class="far fa-circle fa-stack-2x"></i>
                  <i class="fas fa-feed fa-stack-1x"></i>
                </span>
                    </div>
                    <div class="navBarIconText">Logout</div>
                </a>
            </div>
        </div> --}}
    </div>
  </div>
</div>
