<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width = device-width, initial-scale = 1">
    <meta name="description"
          content="">
    <meta name="author"
          content="">

    <link rel="icon"
          type="image/ico"
          href="/img/favicon.ico">

    <link rel="stylesheet"
          type="text/css"
          href="/css/style.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> -->
    <link rel="stylesheet"
          type="text/css"
          href="/css/all.min.css">
    <link rel="stylesheet"
          href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/animate.css/animate.min.css">
    <link rel="stylesheet"
          href="/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

    <script type="text/javascript"
            src="/js/handlebars.runtime-v4.0.11.js"></script>
    <script type="text/javascript"
            src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript"
            src="/popper.js/dist/umd/popper-utils.min.js"></script>
    <script type="text/javascript"
            src="/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript"
            src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script type="text/javascript"
            src="/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="/inputmask/dist/jquery.inputmask.bundle.js"></script>


</head>
