<div id="header" class="header">
  <div id="HeaderNavigationBar" class="HeaderNavigationBar HiddenHeaderNavigationBar">
    <div id="HeaderNavigationBarContent" class="HeaderNavigationBarContent">

      <div class="floatRight navBarIcon">
        <a href="{{logout_link}}">
          <div>
            <span class="fa-stack fa-lg">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-sign-out-alt fa-stack-1x"></i>
            </span>
          </div>
          <div class="navBarIconText">Logout</div>
        </a>
      </div>

    </div>
    <div id="HeaderNavigationBarButton" class="HeaderNavigationBarButton HeaderNavigationBarButtonDown">
      <input id="HeaderNavigationBarButtonInput" type="submit" value="" />
    </div>
  </div>
  <br style="clear:both">
</div>

<script type="text/javascript">
  $(document).ready(function() {
    browsesearch_t3.main.headerFooterBar.initModule();
  });
</script>
