/**
  * MAIN STYLE
  * It defines all the styles of the app.
  *
  * @author Roberto Belardo <roberto.belardo@rai.it>
  */
/**
  * HEADER NAVIGATION BAR STYLE
  * It defines all the styles of the header bar
  *
  * @author Roberto Belardo <roberto.belardo@rai.it>
  */
/* HEADER BAR*/
.header {
  position: fixed;
  left: 0;
  z-index: 100;
  margin-top: -20px;
}

/* HEADER NAVIGATION BAR */
.headerHW, .HeaderWithLogo, .HeaderNavigationBarContent, .HeaderNavigationBar {
  height: 100px;
  width: 100%;
}

.HeaderNavigationBar {
  position: fixed;
  z-index: 100;
}

.HeaderNavigationBarContent {
  z-index: 100;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.HeaderNavigationBarButton {
  margin-right: 44px;
  position: fixed;
  right: 0;
  z-index: 100;
}

.HeaderWithLogo {
  position: fixed;
  z-index: 50;
  margin-left: 20px;
  margin-top: 20px;
}

.HeaderLogo {
  float: left;
  /*position: relative;*/
}

@keyframes showHeaderNavigationBar {
  from {
    margin-top: -100px;
  }
  to {
    margin-top: 0;
  }
}
@keyframes hideHeaderNavigationBar {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -100px;
  }
}
.HiddenHeaderNavigationBar {
  margin-top: -100px;
}

.ShowHeaderNavigationBar {
  animation-name: showHeaderNavigationBar;
  animation-duration: 0.5s;
  margin-top: 0;
}

.HideHeaderNavigationBar {
  animation-name: hideHeaderNavigationBar;
  animation-duration: 0.5s;
  margin-top: -100px;
}

.barButton, .footer .FooterNavigationBar .FooterNavigationBarButtonUp input, .footer .FooterNavigationBar .FooterNavigationBarButtonDown input, .HeaderNavigationBarButtonUp input, .HeaderNavigationBarButtonDown input {
  border: none;
  width: 60px;
  height: 30px;
}

.HeaderNavigationBarButtonDown input {
  background: url("./../img/HeaderNavBarDownArrow.png") no-repeat;
}

.HeaderNavigationBarButtonUp input {
  background: url("./../img/HeaderNavBarUpArrow.png") no-repeat;
}

/**
  * FOOTER NAVIGATION BAR STYLE
  * It defines all the styles of the footer bar
  *
  * @author Roberto Belardo <roberto.belardo@rai.it>
  */
.footer {
  position: fixed;
  left: 0;
  z-index: 100;
}
.footer .HiddenFooterNavigationBar {
  margin-bottom: -100px;
}
.footer .ShowFooterNavigationBar {
  animation-name: showFooterNavigationBar;
  animation-duration: 0.5s;
  margin-bottom: 0;
}
.footer .HideFooterNavigationBar {
  animation-name: hideFooterNavigationBar;
  animation-duration: 0.5s;
  margin-bottom: -100px;
}
.footer .FooterNavigationBar {
  position: fixed;
  z-index: 100;
  height: 130px;
  width: 100%;
  bottom: 0;
}
.footer .FooterNavigationBar .FooterNavigationBarContent {
  z-index: 100;
  background-color: black;
  height: 100px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.footer .FooterNavigationBar .FooterNavigationBarButton {
  margin-right: 44px;
  position: relative;
  float: right;
  z-index: 100;
  height: 30px;
}
.footer .FooterNavigationBar .barButton, .footer .FooterNavigationBar .FooterNavigationBarButtonUp input, .footer .FooterNavigationBar .FooterNavigationBarButtonDown input, .footer .FooterNavigationBar .HeaderNavigationBarButtonDown input, .HeaderNavigationBarButtonDown .footer .FooterNavigationBar input, .footer .FooterNavigationBar .HeaderNavigationBarButtonUp input, .HeaderNavigationBarButtonUp .footer .FooterNavigationBar input {
  border: none;
  width: 60px;
  height: 30px;
}
.footer .FooterNavigationBar .FooterNavigationBarButtonDown input {
  background: url("./../img/FooterNavBarDownArrow.png") no-repeat;
}
.footer .FooterNavigationBar .FooterNavigationBarButtonUp input {
  background: url("/../img/FooterNavBarUpArrow.png") no-repeat;
}

@keyframes showFooterNavigationBar {
  from {
    margin-bottom: -100px;
  }
  to {
    margin-bottom: 0;
  }
}
@keyframes hideFooterNavigationBar {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: -100px;
  }
}
/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.FooterNavigationBarContent {
  display: flex;
}
.FooterNavigationBarContent .navigationbar-container {
  flex-grow: 2;
  overflow: hidden;
}
.FooterNavigationBarContent .navigationbar-container .navigationbar {
  /*display: flex;
  justify-content: flex-end;*/
}
.FooterNavigationBarContent .navigationbar-container .navigationbar .navBarIcon {
  display: inline-block;
  float: right;
  /*&:first-child{
    float: none;
  }*/
}
.FooterNavigationBarContent .notifyIcon {
  flex-grow: 1;
  max-width: 92px;
  border-left: 1px solid #666666;
}
.FooterNavigationBarContent .notifyIcon .navBarIcon {
  margin-left: 0;
}

/* FULL SCREEN OVERLAY POPUP */
.fullScreenOverlayPopUp {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 150;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  /*animation-name: showfullScreenOverlayPopUp;   animation-duration: 0.5s;*/
}

/*@keyframes showfullScreenOverlayPopUp {   from {opacity: 1;}   to {opacity: 0;} }*/
.fullScreenOverlayPopUp_messageBox {
  height: 300px;
  width: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: white;
}

.fullScreenOverlayPopUp_content_container {
  width: 80%;
  padding-left: 20%;
  overflow: hidden;
  margin-top: 20px;
}

.fullScreenOverlayPopUp_content_icon {
  float: left;
  width: auto;
  color: black;
  margin-right: 10px;
}

.fullScreenOverlayPopUp_content_content {
  overflow: auto;
  height: 200px;
}

.fullScreenOverlayPopUp_title {
  color: black;
  font-size: 24px;
  position: relative;
  font-weight: 500;
}

.fullScreenOverlayPopUp_message {
  color: grey;
  position: relative;
  margin-top: 20px;
  font-size: 20px;
}

.fullScreenOverlayPopUp_message_title {
  font-size: 22px;
}

.fullScreenOverlayPopUp_controls {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20%;
  margin-bottom: 20px;
}

.fullScreenOverlayPopUp_message_body {
  text-align: justify;
  font-size: 18px;
  font-weight: 200;
  margin-top: 10px;
}

/**
 * TILE STYLE
 * It defines the style of a group of tiles, known as tile-group, with its own title (.tile-group-title)
 * and its own content (.tile-group-content).
 *
 *  Every .tile-group-content contains one or multiple tiles (.tile).
 *
 *  @author Roberto Belardo <roberto.belardo@rai.it>
 */
/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.green {
  background-color: #00a558;
}

.tiffanyGreen {
  background-color: #00a59f;
}

.orange {
  background-color: #d1711f;
}

.blue {
  background-color: #4280f4;
}

.tile-area {
  min-width: 100%;
  height: 100%;
  position: relative;
  /*padding: 120px 80px 0 0;*/
  overflow: hidden;
}
.tile-area .tile-group {
  margin-left: 80px;
  min-width: 80px;
  display: block;
  padding-top: 40px;
  position: relative;
}
.tile-area .tile-group .tile-group-title {
  color: white;
  font-size: 24px;
  font-weight: 200;
  line-height: 20px;
  position: absolute;
  top: 10px;
  left: 0;
}
.tile-area .tile-group .tile-group-content {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.tile-area .tile-group .tile-group-content .tile {
  width: 114px;
  height: 114px;
  margin-right: 30px;
  margin-bottom: 15px;
}
.tile-area .tile-group .tile-group-content .tile .tileA, .tile-area .tile-group .tile-group-content .tile .tileA:active, .tile-area .tile-group .tile-group-content .tile .tileA:hover, .tile-area .tile-group .tile-group-content .tile .tileA:link, .tile-area .tile-group .tile-group-content .tile .tileA:visited {
  text-decoration: none;
  color: white;
}
.tile-area .tile-group .tile-group-content .tile .tileA .tileBox {
  width: 110px;
  height: 110px;
  margin: 2px;
}
.tile-area .tile-group .tile-group-content .tile .tileA .tileBox .tileIcon {
  width: 110px;
  height: 70px;
}
.tile-area .tile-group .tile-group-content .tile .tileA .tileBox .tileTitle {
  width: 100px;
  height: 38px;
  font-size: 13px;
  margin: 2px 5px 0;
}
.tile-area .tile-group .tile-group-content .hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.tile-area .tile-group .tile-group-content .hvr-fade:active, .tile-area .tile-group .tile-group-content .hvr-fade:focus, .tile-area .tile-group .tile-group-content .hvr-fade:hover {
  background-color: white;
  color: white;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
body {
  line-height: 1;
}

.external-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}
.external-title.accordion-title {
  display: flex;
  cursor: pointer;
}
.external-title.accordion-title.collapsed .freccia {
  transform: rotate(180deg);
}

.corpo-articolo {
  color: white;
  background-color: #163351;
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.corpo-articolo.padding-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.corpo-articolo .article-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.internal-title {
  font-size: 1.3rem;
  display: flex;
}

.rai_summary ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  width: 100%;
}
.rai_summary ul li .item_summary {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1rem;
}

.rai_small {
  font-size: 0.75rem;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: normal;
  line-height: 1rem;
  white-space: normal;
}
.rai_small .fa-asterisk {
  color: #d1711f;
}

.rai_ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rai_ellipsis.info_read {
  height: 31.8px;
}

.input_required_asterisk {
  padding: 0 0 0 10px;
  font-size: 0.5rem;
}
.input_required_asterisk span {
  display: flex;
  align-items: center;
  color: #d1711f;
}

.rai_placeholder {
  border: 1px solid #00a2d7;
  background-color: #033b59;
  display: flex;
}
.rai_placeholder .rai_small {
  margin: 15px;
}

.max-height-125px {
  max-height: 125px;
  overflow-y: auto;
}

.max-height-205px {
  max-height: 205px;
  overflow-y: auto;
}

.max-height-235px {
  max-height: 235px;
  overflow-y: auto;
}

.max-height-443px {
  max-height: 443px;
  overflow-y: auto;
}

.max-height-470px {
  max-height: 470px;
  overflow-y: auto;
}

.max-height-555px {
  max-height: 555px;
  overflow-y: auto;
}

.max-height-636px {
  max-height: 636px;
  overflow-y: auto;
}

.max-height-678px {
  height: 678px;
  overflow-y: auto;
}

.max-height-722px {
  max-height: 722px;
  overflow-y: auto;
}

.timecode_container {
  display: block;
  width: 100%;
}

.timecode-row {
  /*.col-md-3{
    -ms-flex: 0 0 30.5%;
    flex: 0 0 30.5%;
    max-width: 30.5%;
  }*/
}

.mr-15 {
  margin-right: 15px !important;
}

.rai_disabled {
  pointer-events: none;
  opacity: 0.65;
}

.vh57 {
  min-height: 57vh;
}

.input-group {
  flex-wrap: nowrap !important;
}

.tc_opacity {
  opacity: 0.5;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.radiobuttonrai {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 15px;
  cursor: pointer;
}
.radiobuttonrai.control--radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radiobuttonrai.control--radio .control__indicator {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background: white;
  border-radius: 50%;
}
.radiobuttonrai.control--radio .control__indicator:hover {
  background: white;
}
.radiobuttonrai.control--radio .control__indicator:after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 3px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: black;
}
.radiobuttonrai input:checked ~ .control__indicator {
  background: white;
}
.radiobuttonrai input:checked ~ .control__indicator:after {
  display: block;
}
.radiobuttonrai input:checked:focus ~ .control__indicator {
  background: white;
}
.radiobuttonrai input:disabled ~ .control__indicator {
  background: white;
  opacity: 0.6;
  pointer-events: none;
}
.radiobuttonrai input:disabled ~ .control__indicator:after {
  background: black;
}
.radiobuttonrai input:disabled ~ .radio_text {
  opacity: 0.6;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.checkbuttonrai {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.checkbuttonrai.control--checkbox .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: white;
}
.checkbuttonrai.control--checkbox .control__indicator:after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbuttonrai.control--checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.checkbuttonrai.control--checkbox input:checked ~ .control__indicator {
  background-color: #00a2d7;
}
.checkbuttonrai.control--checkbox input:checked ~ .control__indicator:after {
  display: block;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.rai_button {
  height: 31.6px !important;
  padding: 0.175rem 0.75rem !important;
}
.rai_button.btn.height-auto {
  height: auto !important;
}
.rai_button.btn.vertical_btn {
  display: flex;
  flex-direction: column;
}
.rai_button.btn.rai_primary {
  color: white;
  background-color: #00a2d7;
  border-color: #00a2d7;
}
.rai_button.btn.rai_primary:hover {
  background-color: #286285;
  border-color: #286285;
}
.rai_button.btn.rai_transparent {
  background-color: transparent;
  border-color: transparent;
  background: url("dist/img/bck_transp.png") repeat;
}
.rai_button.btn.icon-outline-btn {
  padding: 0.275rem 0.15rem !important;
}
.rai_button.btn.icon-outline-btn i {
  border-radius: 50%;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.rai_button.btn.icon-outline-btn.px30 i {
  width: 30px;
  height: 30px;
}
.rai_button.btn.icon-outline-btn:hover {
  background-color: transparent;
  border-color: transparent;
}
.rai_button.btn.icon-outline-btn:hover i {
  background-color: #286285;
}
.rai_button.btn.disabled:hover, .rai_button.btn:disabled:hover {
  background-color: #00a2d7;
  border-color: #00a2d7;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.loader_rai {
  display: flex;
  flex-direction: column;
  background-color: #163351;
  text-align: center;
  padding: 15px;
}
.loader_rai .text-loading {
  margin-top: 10px;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.rai_select {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
}
.rai_select .select__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  pointer-events: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  text-align: center;
}
.rai_select select::-ms-expand {
  display: none;
}
.rai_select select {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: white;
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 31.6px;
  padding: 0.175rem 30px 0.175rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
.rai_select select:hover, .rai_select select:focus {
  background: white;
  color: black;
}
.rai_select select:hover ~ .select__arrow, .rai_select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.rai_select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.rai_select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
.rai_select.group-mode {
  width: auto;
  flex-grow: 1;
  margin-bottom: 0;
}
.rai_select.group-mode + .required_asterisk {
  padding: 0 0 0 10px;
  font-size: 0.5rem;
}
.rai_select.group-mode + .required_asterisk span {
  display: flex;
  align-items: center;
  color: #d1711f;
}
.rai_select.group-mode.dropdown .select_simulate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: white;
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 30px 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
.rai_select.group-mode.dropdown .afd_menu {
  width: 100%;
  border-radius: 0;
  margin: 0;
  border: none;
  max-height: 220px;
  overflow: hidden;
  overflow-y: auto;
}
.rai_select.group-mode.dropdown .afd_menu .dropdown-item {
  text-align: center;
  cursor: pointer;
}
.rai_select.group-mode.dropdown .afd_menu .dropdown-item img {
  width: 163px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.selected_afd_img {
  width: 100%;
  height: auto;
}

.timecode-row .input-group .rai_select {
  margin-bottom: 0;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
input {
  height: 31.6px !important;
  padding: 0.175rem 0.75rem !important;
  outline: transparent !important;
}

.rai_time_code {
  display: flex !important;
  flex-wrap: nowrap;
  padding: 0 !important;
  text-align: center;
  height: 31.6px !important;
}
.rai_time_code input {
  flex-grow: 2;
  max-width: 22%;
  background: transparent;
  border: none;
  display: flex;
  text-align: center;
}
.rai_time_code span {
  flex-grow: 1;
  max-width: 4%;
  padding: 0.175rem;
}

.rai_input.group-mode {
  width: auto;
  flex-grow: 1;
  margin-bottom: 0;
}
.rai_input.group-mode .required_asterisk {
  padding: 0 0 0 10px;
  font-size: 0.5rem;
}
.rai_input.group-mode .required_asterisk span {
  display: flex;
  align-items: center;
  color: #d1711f;
}

/*input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]:focus::-webkit-inner-spin-button,
input[type=number]:focus::-webkit-outer-spin-button,
input[type=number]:hover::-webkit-inner-spin-button,
input[type=number]:hover::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  margin: 0 2px 0 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*
input[type=number]:focus,
input[type=number]:hover {
  -moz-appearance:number-input;
}*/
.ricerca_files {
  display: flex;
  border-bottom: 1px solid #163351;
  color: white;
  position: relative;
  overflow: hidden;
  /*&:focus-within{
    //border-bottom: 1px solid $rai_white;
    .bordo-bottom{
      left: 0;
    }
  }*/
}
.ricerca_files .fas {
  cursor: pointer;
}
.ricerca_files .bordo-bottom {
  position: absolute;
  width: 100%;
  left: 100%;
  bottom: 0;
  height: 1px;
  background-color: white;
  transition: left 1s;
}
.ricerca_files input {
  height: 24px !important;
  font-size: 90%;
  text-transform: uppercase;
  border: none;
  padding-left: 0;
  background: transparent;
  color: white;
  text-align: right;
}
.ricerca_files i {
  align-self: center;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.rai_text_area {
  height: 100%;
  width: 100%;
  resize: none;
}
.rai_text_area.height-220px {
  height: 220px;
}
.rai_text_area.height-443px {
  height: 443px;
}
.rai_text_area.height-617px {
  height: 617px;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.rai_selectable ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  width: 100%;
  line-height: 1.5;
}
.rai_selectable ul li {
  border: 4px solid transparent;
  margin-bottom: 4px;
}
.rai_selectable ul li .item_selectable {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 5px solid white;
  padding: 0px 6px;
  position: relative;
  font-size: 1.2rem;
}
.rai_selectable ul li .item_selectable .line {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.rai_selectable ul li .item_selectable .line .rai_small {
  margin: 0;
  margin-bottom: 5px;
}
.rai_selectable ul li .item_selectable .confirm_flag {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  font-size: 8px;
}
.rai_selectable ul li .item_selectable .confirm_flag .rectangle {
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-top: 20px solid #00a2d7;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 0;
}
.rai_selectable ul li .item_selectable .confirm_flag i {
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
}
.rai_selectable ul li.item_selected {
  border: 4px solid #00a2d7;
  background-color: #033b59;
}
.rai_selectable ul li.item_selected .item_selectable .confirm_flag {
  display: inherit;
}
.rai_selectable ul li:hover {
  background-color: #045ea0;
}

/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */
.rai_separator {
  position: relative;
}
.rai_separator hr {
  border-top: 1px solid white;
}
.rai_separator .square {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid #163351;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

html {
  /* Location of the image */
  background-image: url("./../img/background-transparent.png");
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when      the content height is greater than the image height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #606064;
}

body {
  background-color: transparent !important;
  font-size: 16px;
}

.BreadCrumble {
  color: white;
  font-size: 24px;
  margin-top: 65px;
  margin-left: 20px;
  font-weight: 200;
  /*float: left;*/
}

.navBarIcon {
  height: 100px;
  width: 92px;
  padding-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.navBarIcon a {
  color: white !important;
  text-decoration: none !important;
}

.navBarIconText {
  color: white;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}

/* MAIN CONTENT */
.MainContentLayout {
  margin-top: 20px;
  /*margin-left: 120px;*/
  /*position: fixed;*/
  height: 100%;
}

.MainContentBody {
  margin-top: 20px;
}

.MainContentTitle {
  font-size: 24px;
  font-weight: 200;
}

.MainContentVoidBanner {
  font-size: 12px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
}

/* INFO SECTION */
.infoSectionTitle {
  color: white;
  font-size: 24px;
  font-weight: 200;
}

.infoSectionContent {
  background-color: rgba(128, 128, 128, 0.5);
  margin-bottom: 20px;
  padding: 10px;
}

.infoSectionEditControls {
  margin-right: 10px;
  display: none;
}

.infoSectionEditMode {
  display: none;
}

.infoSectionControlIcon {
  cursor: pointer;
}

/* MISC */
.span12 {
  text-align: center;
}

.form-box {
  width: 400px;
}

.button100 {
  width: 100%;
}

.errorMessage {
  color: #a94442;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.bluButton {
  color: white;
  background-color: #3c9dda;
  border-color: #3c9dda;
}

.btn,
.form-control {
  border-radius: 0 !important;
}

.fakeFormElement .fakeInput {
  color: #000c !important;
  font-weight: bold !important;
}

.fakeFormElement .fakeLabel {
  font-weight: 200 !important;
}

.fakeFormElement .fakeSubLabel {
  font-weight: 100;
  color: #c9c9c9;
}

.fakeFormElement {
  padding-bottom: 15px;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

/*# sourceMappingURL=style.css.map */
