@import "colors";

.rai_button{
  height: 31.6px !important;
  padding: .175rem .75rem !important;
  &.btn{
    &.height-auto{
      height: auto !important;
    }
    &.vertical_btn{
      display: flex;
      flex-direction: column;
    }
    &.rai_primary{
      color: $rai_white;
      background-color: $rai_azure_light;
      border-color: $rai_azure_light;
      &:hover{
        background-color: $rai_azure;
        border-color: $rai_azure;
      }
    }
    &.rai_transparent {
      background-color: $rai_transparent;
      border-color: $rai_transparent;
      background: url("dist/img/bck_transp.png") repeat;
    }
    &.rai_semitransparent {
      color: $rai_white;
      background-color: rgba($rai_black, 0.5);
      border-color: $rai_transparent;
      &:hover{
        background-color: rgba($rai_black, 0.7);
        border-color: $rai_transparent;
      }
    }
    &.icon-outline-btn{
      padding: .275rem .15rem !important;
      i{
        border-radius: 50%;
        border:2px solid $rai_white;
        width: 40px;
        height: 40px;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
      }
      &.px30{
        i{
          width: 30px;
          height: 30px;
        }
      }
      &:hover{
        background-color: transparent;
        border-color: transparent;
        i{
          background-color: $rai_azure;
        }
      }
    }
    &.disabled, &:disabled{
      &:hover{
        background-color: $rai_azure_light;
        border-color: $rai_azure_light;
      }
    }
  }
}