@import "colors";

.checkbuttonrai {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
  &.control--checkbox {
    .control__indicator {
      position: absolute;
      top: 2px;
      left: 0;
      height: 20px;
      width: 20px;
      background: $rai_white;
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 8px;
        top: 4px;
        width: 6px;
        height: 10px;
        border: solid $rai_white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      &:checked {
        ~ .control__indicator {
          background-color: $rai_azure_light;
          &:after {
            display: block;
          }
        }
      }
    }
  }

  &.rai_semitransparent {
    input {
      &:checked {
        ~ .control__indicator {
          background-color: rgba($rai_black, 0.5);
        }
      }
    }
  }
}
