/**
 * COLORS STYLE
 * It defines all the colors of the app
 *
 * @author Roberto Belardo <roberto.belardo@rai.it>
 */


// COLORI STANDARD

$rai_white : rgb(255,255,255);
$rai_black : rgb(0,0,0);
$rai_blue_dark : rgb(22,51,81);
$rai_blue_selected : rgb(3,59,89);
$rai_azure : rgb(40,98,133);
$rai_azure_light : rgb(0,162,215);
$rai_azure_hover : rgb(4,94,160);
$rai_grey_dark : rgb(102, 102, 102);
$rai_transparent: transparent;


$tile_green: #00a558;
$tile_tiffanyGreen: #00a59f;
$tile_orange: #d1711f;
$tile_blue: #4280f4;

$background_grey: #606064;
$body: white;
$breadcrumble: white;

$blubutton_background: #3c9dda;
$blubutton_border: $blubutton_background;

// $fakeFormElement: #000c;
$fakeSubLabel: #c9c9c9;

$errorMessage: #a94442;

$infoSectionContent: rgba(128, 128, 128, 0.5);

$MainContentVoidBanner: rgba(255, 255, 255, 0.2);
