@import "colors";

body{
  line-height: 1;
}


.external-title{
  color: $rai_white;
  font-size: 1.5rem;
  font-weight: 200;
  &.accordion-title{
    display: flex;
    cursor: pointer;
    &.collapsed{
      .freccia{
        transform: rotate(180deg);
      }
    }
  }
}

.corpo-articolo{
  color: $rai_white;
  background-color: $rai_blue_dark;
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  &.padding-0{
    padding-top: 0;
    padding-bottom: 0;
  }
  .article-container{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.internal-title{
  font-size: 1.3rem;
  display: flex;
}

.rai_summary {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
    width: 100%;
    li {
      .item_summary{
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1rem;
      }
    }
  }
}

.rai_small{
  font-size: 0.75rem;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: normal;
  line-height: 1rem;
  white-space: normal;
  .fa-asterisk{
    color: $tile_orange;
  }
}

.rai_ellipsis{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &.info_read{
    height: 31.8px; // block height equal to input & select
  }
}

.input_required_asterisk{
  padding: 0 0 0 10px;
  font-size: .5rem;
  span{
    display: flex;
    align-items: center;
    color: #d1711f;
  }
}
.rai_placeholder{
  border: 1px solid $rai_azure_light;
  background-color: $rai_blue_selected;
  display: flex;
  .rai_small{
    margin: 15px;
  }
}

.max-height-125px{
  max-height: 125px;
  overflow-y: auto;
}
.max-height-205px{
  max-height: 205px;
  overflow-y: auto;
}
.max-height-235px{
  max-height: 235px;
  overflow-y: auto;
}
.max-height-443px{
  max-height: 443px;
  overflow-y: auto;
}
.max-height-470px{
  max-height: 470px;
  overflow-y: auto;
}
.max-height-555px{
  max-height: 555px;
  overflow-y: auto;
}
.max-height-636px{
  max-height: 636px;
  overflow-y: auto;
}
.max-height-678px{
  height: 678px;
  overflow-y: auto;
}
.max-height-722px{
  max-height: 722px;
  overflow-y: auto;
}

.timecode_container{
  display: block;
  width: 100%;

}
.timecode-row{
  /*.col-md-3{
    -ms-flex: 0 0 30.5%;
    flex: 0 0 30.5%;
    max-width: 30.5%;
  }*/
}

.mr-15{
  margin-right: 15px !important;
}

.rai_disabled{
  pointer-events:none;
  opacity:0.65;
}

.vh57{
  min-height: 57vh;
}

.input-group{
  flex-wrap: nowrap !important;
}

.tc_opacity {
  opacity: 0.5;
}
