/**
  * FOOTER NAVIGATION BAR STYLE
  * It defines all the styles of the footer bar
  *
  * @author Roberto Belardo <roberto.belardo@rai.it>
  */

.footer {
  position: fixed;
  left: 0;
  z-index: 100;

  .HiddenFooterNavigationBar {
    margin-bottom: -100px;
  }

  .ShowFooterNavigationBar {
    animation-name: showFooterNavigationBar;
    animation-duration: 0.5s;
    margin-bottom: 0;
  }

  .HideFooterNavigationBar {
    animation-name: hideFooterNavigationBar;
    animation-duration: 0.5s;
    margin-bottom: -100px;
  }

  .FooterNavigationBar {
    position: fixed;
    z-index: 100;
    height: 130px;
    width: 100%;
    bottom: 0;

    .FooterNavigationBarContent {
      z-index: 100;
      background-color: black;
      height: 100px;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      overflow: hidden;
      position: relative;
      text-align: center;
    }

    .FooterNavigationBarButton {
      margin-right: 44px;
      position: relative;
      float: right;
      z-index: 100;
      height: 30px;
    }

    .barButton {
      border: none;
      width: 60px;
      height: 30px;
    }

    .FooterNavigationBarButtonDown input {
      @extend .barButton;
      background: url("./../img/FooterNavBarDownArrow.png") no-repeat;
    }

    .FooterNavigationBarButtonUp input {
      @extend .barButton;
      background: url("/../img/FooterNavBarUpArrow.png") no-repeat;
    }
  }
}
@keyframes showFooterNavigationBar {
  from {
    margin-bottom: -100px;
  }

  to {
    margin-bottom: 0;
  }
}
@keyframes hideFooterNavigationBar {
  from {
    margin-bottom: 0;
  }

  to {
    margin-bottom: -100px;
  }
}
