/* FULL SCREEN OVERLAY POPUP */

.fullScreenOverlayPopUp {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 150; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  /*animation-name: showfullScreenOverlayPopUp;   animation-duration: 0.5s;*/
}
/*@keyframes showfullScreenOverlayPopUp {   from {opacity: 1;}   to {opacity: 0;} }*/

.fullScreenOverlayPopUp_messageBox {
  height: 300px;
  width: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: white;
}

.fullScreenOverlayPopUp_content_container {
  width: 80%;
  padding-left: 20%;
  overflow: hidden;
  margin-top: 20px;
}

.fullScreenOverlayPopUp_content_icon {
  float: left;
  width: auto;
  color: black;
  margin-right: 10px;
}

.fullScreenOverlayPopUp_content_content {
  overflow: auto;
  height: 200px;
}

.fullScreenOverlayPopUp_title {
  color: black;
  font-size: 24px;
  position: relative;
  font-weight: 500;
}

.fullScreenOverlayPopUp_message {
  color: grey;
  position: relative;
  margin-top: 20px;
  font-size: 20px;
}

.fullScreenOverlayPopUp_message_title {
  font-size: 22px;
}

.fullScreenOverlayPopUp_controls {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20%;
  margin-bottom: 20px;
}

.fullScreenOverlayPopUp_message_body {
  text-align: justify;
  font-size: 18px;
  font-weight: 200;
  margin-top: 10px;
}
