// GENERAL - ALL PAGES

html {
  /* Location of the image */
  background-image: url("./../img/background-transparent.png");
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when      the content height is greater than the image height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: $background_grey;
}

body {
  background-color: transparent !important;
  // color: $body;
  font-size: 16px;
}

.BreadCrumble {
  color: $breadcrumble;
  font-size: 24px;
  margin-top: 65px;
  margin-left: 20px;
  font-weight: 200;
  /*float: left;*/
}

.navBarIcon {
  height: 100px;
  width: 92px;
  padding-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.navBarIcon a {
  color: white !important;
  text-decoration: none !important;
}

.navBarIconText {
  color: white;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}
/* MAIN CONTENT */

.MainContentLayout {
  margin-top: 20px;
  /*margin-left: 120px;*/
  /*position: fixed;*/
  height: 100%;
}

.MainContentBody {
  margin-top: 20px;
}

.MainContentTitle {
  font-size: 24px;
  font-weight: 200;
}

.MainContentVoidBanner {
  font-size: 12px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  background-color: $MainContentVoidBanner;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
}
/* INFO SECTION */

.infoSectionTitle {
  color: white;
  font-size: 24px;
  font-weight: 200;
}

.infoSectionContent {
  background-color: $infoSectionContent;
  margin-bottom: 20px;
  padding: 10px;
}

.infoSectionEditControls {
  margin-right: 10px;
  display: none;
}

.infoSectionEditMode {
  display: none;
}

.infoSectionControlIcon {
  cursor: pointer;
}
/* MISC */

.span12 {
  text-align: center;
}

.form-box {
  width: 400px;
}

.button100 {
  width: 100%;
}

.errorMessage {
  color: $errorMessage;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.bluButton {
  color: white;
  background-color: $blubutton_background;
  border-color: $blubutton_background;
}

.btn,
.form-control {
  border-radius: 0 !important;
}

.fakeFormElement .fakeInput {
  color: #000c !important;
  font-weight: bold !important;
}

.fakeFormElement .fakeLabel {
  font-weight: 200 !important;
}

.fakeFormElement .fakeSubLabel {
  font-weight: 100;
  color: $fakeSubLabel;
}

.fakeFormElement {
  padding-bottom: 15px;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}
