/**
  * HEADER NAVIGATION BAR STYLE
  * It defines all the styles of the header bar
  *
  * @author Roberto Belardo <roberto.belardo@rai.it>
  */

/* HEADER BAR*/

.header {
  position: fixed;
  left: 0;
  z-index: 100;
  margin-top:-20px;
}

/* HEADER NAVIGATION BAR */

.headerHW {
  height: 100px;
  width: 100%;
}

.HeaderNavigationBar {
  @extend .headerHW;
  position: fixed;
  z-index: 100;
}

.HeaderNavigationBarContent {
  @extend .headerHW;
  z-index: 100;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.HeaderNavigationBarButton {
  margin-right: 44px;
  position: fixed;
  right: 0;
  z-index: 100;
}

.HeaderWithLogo {
  @extend .headerHW;
  position: fixed;
  z-index: 50;
  margin-left: 20px;
  margin-top: 20px;
}

.HeaderLogo {
  float: left;
  /*position: relative;*/
}
@keyframes showHeaderNavigationBar {
  from {
    margin-top: -100px;
  }

  to {
    margin-top: 0;
  }
}
@keyframes hideHeaderNavigationBar {
  from {
    margin-top: 0;
  }

  to {
    margin-top: -100px;
  }
}

.HiddenHeaderNavigationBar {
  margin-top: -100px;
}

.ShowHeaderNavigationBar {
  animation-name: showHeaderNavigationBar;
  animation-duration: 0.5s;
  margin-top: 0;
}

.HideHeaderNavigationBar {
  animation-name: hideHeaderNavigationBar;
  animation-duration: 0.5s;
  margin-top: -100px;
}

.barButton {
  border: none;
  width: 60px;
  height: 30px;
}

.HeaderNavigationBarButtonDown input {
  @extend .barButton;
  background: url("./../img/HeaderNavBarDownArrow.png") no-repeat;
}

.HeaderNavigationBarButtonUp input {
  @extend .barButton;
  background: url("./../img/HeaderNavBarUpArrow.png") no-repeat;
}
