@import "colors";

input,
select {
  height: 31.6px !important;
  padding: .175rem .75rem !important;
  outline: $rai_transparent !important;
}

.rai_time_code{
  display: flex !important;
  flex-wrap: nowrap;
  padding: 0 !important;
  text-align: center;
  height: 31.6px !important;
  //padding: .175rem .75rem !important;
  input{
    flex-grow: 2;
    max-width: 22%;
    background: $rai_transparent;
    border: none;
    display: flex;
    text-align: center;
  }
  span{
    flex-grow: 1;
    max-width: 4%;
    padding: .175rem;
  }
}

.rai_input{
  &.group-mode {
    width: auto;
    flex-grow: 1;
    margin-bottom: 0;
    .required_asterisk {
      padding: 0 0 0 10px;
      font-size: 0.5rem;
      span {
        display: flex;
        align-items: center;
        color: $tile_orange;
      }
    }
  }
}

/*input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}*/

// Webkit:
// Hide number picker
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Show number picker on focus
input[type=number]:focus::-webkit-inner-spin-button,
input[type=number]:focus::-webkit-outer-spin-button,
input[type=number]:hover::-webkit-inner-spin-button,
input[type=number]:hover::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  margin: 0 2px 0 0 ;
  -webkit-appearance: none;
}

// Firefox:
// Hide number picker
input[type=number] {
  -moz-appearance:textfield;
}

// Show number picker on focus
/*
input[type=number]:focus,
input[type=number]:hover {
  -moz-appearance:number-input;
}*/

.ricerca_files{
  display: flex;
  border-bottom: 1px solid $rai_blue_dark;
  color: $rai_white;
  position: relative;
  overflow: hidden;
  .fas{
    cursor: pointer;
  }
  .bordo-bottom{
    //display: none;
    position: absolute;
    width: 100%;
    left: 100%;
    bottom: 0;
    height: 1px;
    background-color: $rai_white;
    transition: left 1s;
  }
  /*&:focus-within{
    //border-bottom: 1px solid $rai_white;
    .bordo-bottom{
      left: 0;
    }
  }*/
  input{
    height: 24px!important;
    font-size: 90%;
    text-transform: uppercase;
    border: none;
    padding-left: 0;
    background: $rai_transparent;
    color: $rai_white;
    text-align: right;
  }
  i{
    align-self: center;
  }
}