@import "colors.scss";

.FooterNavigationBarContent{
  display: flex;
  .navigationbar-container{
    flex-grow: 2;
    overflow: hidden;
    .navigationbar{
      /*display: flex;
      justify-content: flex-end;*/

      .navBarIcon{
        display: inline-block;
        float: right;

        /*&:first-child{
          float: none;
        }*/
      }
    }
  }

  .notifyIcon{
    flex-grow: 1;
    max-width: 92px;
    border-left: 1px solid $rai_grey_dark;
    .navBarIcon{
      margin-left: 0;
    }
  }
}
