@import "colors";

.radiobuttonrai {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 15px;
  cursor: pointer;
  &.control--radio{
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .control__indicator {
      position: absolute;
      top: 4px;
      left: 0;
      height: 16px;
      width: 16px;
      background: $rai_white;
      border-radius: 50%;
      //*---------REMOVE THIS COMMENTS TO ALIGN RADIO AT CENTER OF TEXT-------------*/
      //top: 50%;
      //transform: translate(0, -50%);
      &:hover{
        background: $rai_white;
      }
      &:after{
        content: '';
        position: absolute;
        display: none;
        left: 3px;
        top: 3px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: $rai_black;
      }
    }
  }
  input{
    &:checked{
      ~.control__indicator{
        background: $rai_white;
        &:after{
          display: block;
        }
      }
      &:focus{
        ~.control__indicator{
          background: $rai_white;
        }
      }
    }
    &:disabled{
      ~.control__indicator {
        background: $rai_white;
        opacity: 0.6;
        pointer-events: none;
        &:after{
          background: $rai_black;
        }
      }
      ~.radio_text{
        opacity: 0.6;
      }
    }
  }
}
