@import "colors";

.rai_select {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
  .select__arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    //height: 0;
    pointer-events: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $rai_black;
    text-align: center;
  }
  select::-ms-expand{
    display: none;
  }
  select {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: $rai_white;
    color: $rai_black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    //height: calc(2.25rem + 2px);
    height: 31.6px;
    padding: .175rem 30px .175rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    &:hover, &:focus {
      background: $rai_white;
      color: $rai_black;
      ~ .select__arrow{
        border-top-color: #000;
     }
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
      ~ .select__arrow {
        border-top-color: #ccc;
      }
    }
  }

  &.group-mode{
    width: auto;
    flex-grow: 1;
    margin-bottom: 0;
    + .required_asterisk{
      padding: 0 0 0 10px;
      font-size: 0.5rem;
      span{
        display: flex;
        align-items: center;
        color: $tile_orange;
      }
    }
    &.dropdown{
      .select_simulate{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        cursor: pointer;
        outline: 0;
        border: 0;
        border-radius: 0;
        background: $rai_white;
        color: $rai_black;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: calc(2.25rem + 2px);
        padding: .375rem 30px .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
      }
      .afd_menu{
        width: 100%;
        border-radius: 0;
        margin: 0;
        border: none;
        max-height: 220px;
        overflow: hidden;
        overflow-y: auto;
        .dropdown-item{
          text-align: center;
          cursor: pointer;
          img{
            width: 163px;
            height: auto;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.selected_afd_img{
  width: 100%;
  height: auto;
}

.timecode-row{
  .input-group{
    .rai_select{
      margin-bottom: 0;
    }
  }
}