@import "colors";

.rai_selectable{

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
    width: 100%;
    line-height: 1.5;
    li {
      border: 4px solid $rai_transparent;
      margin-bottom: 4px;
      //padding: 2px;

      .item_selectable {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-left: 5px solid $rai_white;
        padding: 0px 6px;
        position: relative;
        font-size: 1.2rem;
        .line{
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          .rai_small{
            margin: 0;
            margin-bottom: 5px;
          }
        }
        .confirm_flag {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          font-size: 8px;
          .rectangle{
            border-left: 20px solid $rai_transparent;
            border-bottom: 20px solid $rai_transparent;
            border-top: 20px solid $rai_azure_light;
            width: 0;
            height: 0;
            position: absolute;
            z-index: 0;
          }
          i{
            position: absolute;
            z-index: 1;
            top: 2px;
            right: 2px;
          }
        }
      }
      &.item_selected {
        border: 4px solid $rai_azure_light;
        background-color: $rai_blue_selected;
        .item_selectable {
          .confirm_flag {
            display: inherit;
          }
        }
      }
      &:hover{
        background-color: $rai_azure_hover;
      }
    }
  }
}