@import "colors";

.rai_separator{
  position: relative;
  hr{
    border-top: 1px solid $rai_white;
  }
  .square{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $rai_white;
    border: 4px solid $rai_blue_dark;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
  }
}