@import "colors";

.rai_text_area{
  height: 100%;
  width: 100%;
  resize: none;
  &.rai_note_difetti{

  }
  &.height-220px{
    height: 220px;
  }
  &.height-443px{
    height: 443px;
  }
  &.height-617px{
  height: 617px;
}
}