/**
 * TILE STYLE
 * It defines the style of a group of tiles, known as tile-group, with its own title (.tile-group-title)
 * and its own content (.tile-group-content).
 *
 *  Every .tile-group-content contains one or multiple tiles (.tile).
 *
 *  @author Roberto Belardo <roberto.belardo@rai.it>
 */

@import "colors";

$tile_width: 114px;
$tile_height: $tile_width;

.green {
  background-color: $tile_green;
}

.tiffanyGreen {
  background-color: $tile_tiffanyGreen;
}

.orange {
  background-color: $tile_orange;
}

.blue {
  background-color: $tile_blue;
}

.tile-area {
  min-width: 100%;
  height: 100%;
  position: relative;
  /*padding: 120px 80px 0 0;*/
  overflow: hidden;

  .tile-group {
    margin-left: 80px;
    min-width: 80px;
    display: block;
    padding-top: 40px;
    position: relative;

    .tile-group-title {
      color: white;
      font-size: 24px;
      font-weight: 200;
      line-height: 20px;
      position: absolute;
      top: 10px;
      left: 0;
    }

    .tile-group-content {
      width: 100%;
      height: auto;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 0;

      .tile {
        width: $tile_width;
        height: $tile_height;
        margin-right: 30px;
        margin-bottom: 15px;

        .tileA {
          text-decoration: none;
          color: white;

          &:active,
          &:hover,
          &:link,
          &:visited {
            @extend .tileA;
          }

          .tileBox {
            width: $tile_width - 4;
            height: $tile_height - 4;
            margin: 2px;

            .tileIcon {
              width: $tile_width - 4;
              height: 70px;
            }

            .tileTitle {
              width: $tile_width - 14;
              height: 38px;
              font-size: 13px;
              margin: 2px 5px 0;
            }
          }
        }
      }

      .hvr-fade {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        overflow: hidden;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;

        &:active,
        &:focus,
        &:hover {
          background-color: white;
          color: white;
        }
      }
    }
  }
}
