<div id="flashMessages" style="display:none;">
  <div>
    <ul id="successFlashMessages">
      {{#each flashes.success}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <div>
    <ul id="errorFlashMessages">
      {{#each flashes.error}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <div>
    <ul id="warningFlashMessages">
      {{#each flashes.warning}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>
